.container_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}

.board_content {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1%;

    flex-direction: row;

    background-color: rgba(green, 0.15);
    border-radius: 25px;
}
.container_left {
    width: 19%;
    height: 82%;
    display: flex;
    align-items: first;
    justify-content: center;

    margin-right: 1%;

    flex-direction: column;
}
.nav_content {
    width: 40%;
    height: 5%;

    margin-left: 5%;

    background-color: rgba(#a0e0e0, 0.4);
    border-radius: 25px;
}
.board_files {
    width: 92%;
    height: 94%;
    display: flex;
    align-items: center;

    flex-direction: column;

    margin-top: 2%;
    padding-left: 4%;
    padding-right: 4%;

    background-color: rgba(gray, 0.1);
    border-radius: 25px;
}
.text_info_board_files {
    font-size: 100%;

    margin-top: 2%;
}
.box_file {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 4%;

    padding: 1%;

    flex-direction: row;

    background-color: white;
    border-radius: 15px;

    overflow-x: scroll;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
}
.card_file {
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
}
.text_name_file {
    font-size: 100%;

    text-align: center;
}
.board_comment {
    width: 18%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    margin-left: 1%;

    padding: 1%;

    background-color: rgba(red, 0.1);
    border-radius: 25px;
}

.box_main {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.box_btn_modfiy {
    width: 100%;
    height: 8%;

    margin: 0;
    padding: 0;

    margin-top: 2%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-direction: row;
}
.btn_main_modify {
    width: 20%;
    height: 100%;

    margin: 0;
    padding: 0;

    margin-right: 5%;

    border-radius: 15px;
    border-width: 0px;
    background-color: #e39e25;

    font-size: bold;
    color: white;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
}
.btn_main_delete {
    width: 20%;
    height: 100%;

    margin: 0;
    padding: 0;

    border-radius: 15px;
    border-width: 0px;
    background-color: #101010;

    font-size: bold;
    color: white;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
}
.box_titleAndAuthor {
    width: 100%;
    height: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}
.box_title {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: white;
    border-radius: 15px;
}
.box_author {
    width: 28%;
    height: 100%;

    margin-left: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 15px;
}
.box_content {
    width: 96%;
    height: 89%;

    margin-top: 2%;
    padding: 2%;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 15px;

    overflow-x: hidden;
    overflow-y: hidden;
}
.box_content_text {
    width: 100%;
    height: 80%;
    font-size: 100%;
    text-align: left;

    background-color: transparent;
    border-width: 0;

    margin-top: 0.5%;

    word-wrap: break-word;

    font: 100%;
    color: black;
    font-weight: bold;
}
.box_content_img {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    overflow-x: scroll;
}
.card_img {
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: transparent;
    border-width: 0;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
    & img {
        max-height: 100%;
    }
}
.box_comment {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;

    overflow-y: scroll;

    flex-direction: column;
}
.box_send_comment {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;

    flex-direction: column;
}
.textarea_comment {
    width: 90%;
    height: 70%;

    margin-top: 2%;

    border-width: 0;
    border-radius: 15px;

    resize: none;
}
.btn_send_comment {
    width: 100%;
    height: 28%;

    margin: 0;
    margin-top: 2%;
    padding: 0;

    border-width: 0;
    border-radius: 15px;
    background-color: skyblue;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        opacity: 0.4;
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
}
.card_comment {
    width: 96%;
    height: 10%;

    padding: 2%;

    display: flex;

    flex-direction: column;

    margin-bottom: 3%;

    border-width: 0px;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        opacity: 0.8;
        transform: scale(1.03);
        transition: all 0.1s linear;
    }

    background-color: white;
    border-radius: 15px;
}
.index_comment_child {
    width: 6%;
    height: 100%;

    display: flex;

    background-color: transparent;
}
.card_comment_child {
    width: 85%;
    height: 96%;

    margin-top: 5%;

    padding: 2%;

    display: flex;

    flex-direction: column;

    border-width: 0px;

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        opacity: 0.8;
        transform: scale(1.03);
        transition: all 0.1s linear;
    }

    margin-bottom: 3%;

    background-color: white;
    border-radius: 15px;
}
.box_comment_child {
    width: 96%;
    height: 10%;

    margin-bottom: 5%;

    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}
.text_titleOrAuthor {
    font-size: 100%;
    text-align: left;

    margin-left: 10%;
    margin-right: 10%;
}
.text_title {
    width: 100%;
    font-size: 80%;
    text-align: left;

    margin-top: 0.5%;

    margin-left: 10%;
    margin-right: 10%;
}
.text_num_child_comment {
    font-size: 80%;
    text-align: right;

    position: fixed;

    top: 15%;
    right: 8%;
}
.text_comment {
    font-size: 80%;
    text-align: left;

    margin-top: 0.5%;

    margin-left: 10%;
    margin-right: 10%;

    word-wrap: break-word;
}
.text_send_comment {
    font-size: 80%;

    color: white;
}
.modify_btn {
    display: flex;
    position: fixed;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    bottom: 3%;
    left: 0.1%;
}
.btn_svg_comment {
    border-width: 0px;
    background-color: transparent;

    transform: scale(1);
    transition: all 0.1s linear;

    margin: 0;
    padding: 0;

    .svg {
        width: 45%;
        height: 30%;

        margin: 0;
        padding: 0;
    }

    &:hover {
        opacity: 0.9;
        transform: scale(1.5);
        transition: all 0.1s linear;
    }
}
.center {
    justify-content: center;
}
.btn_delete_file {
    width: 20%;

    padding: 0;
    margin: 0;

    display: flex;
    position: absolute;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-width: 0px;

    right: 1%;
    bottom: 1%;

    .svg {
        width: 60%;
        height: 30%;

        margin: 0;
        padding: 0;
    }

    transform: scale(1);
    transition: all 0.1s linear;

    &:hover {
        opacity: 0.9;
        transform: scale(2);
        transition: all 0.1s linear;
    }
}
